.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: 'Roboto';
}

.App-header {
  background-color: #333;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.25em;
}

div.rightPanel {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 38%;
  /* in case ACE editor and right panel overlap, ACE editor white background must not hide right panel contents */
  z-index: 1;
  max-height: 100%;
  overflow: auto;
  opacity: 0.8;
  padding: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.chordDiagram {
  display: inline-block;
  vertical-align: top;
}

.chordDiagram img {
  display: block;
  width: 150px;
}

.chordDiagram p {
  font-size: 0.85em;
  text-align: center;
  margin-top: 0px;
  width: 125px;
  margin: 0px auto;
  font-size: 0.85em;
}

.lyrics {
  white-space: pre;
  line-height: 150%;
  padding: 10px;
  font-family: 'Roboto Mono', 'Monaco', monospace;
  font-size: 0.85em;
  overflow: auto;
}

div.error {
  color: red;
  font-size: 1.1em;
}

p.error {
  color: red;
  font-size: 1em;
}

p.warning {
  color: orange;
  font-size: 1em;
}
