.Ascii {
  columns: 550px;
  column-fill: auto;
  white-space: pre;
  line-height: 150%;
  padding: 10px;
  font-family: 'Roboto Mono', 'Monaco', monospace;
  font-size: 0.85em;
  overflow: auto;

  > div {
    > p {
      font-weight: bold;
    }
    break-inside: avoid-column;
    margin-bottom: 40px;
  }
}