.Ascii {
  font-family: 'Roboto Mono', 'Monaco', monospace;

  > div.Select {
    float: left;
    margin: 0 10px;
    width: 250px;
  }

  > div.Lyrics {
    clear: both;
    overflow: auto;
    white-space: pre;
    line-height: 150%;
    padding: 10px;
    font-size: 0.85em;
    column-fill: auto;

    > div {
      > p {
        font-weight: bold;
      }
      overflow: auto;
      break-inside: avoid-column;
      margin-bottom: 40px;
    }
  }
}