.Index {
  position: relative;

  .item {
    margin: 5px;
    padding: 5px;
    border: 0 solid #ccc;
    border-radius: 10px;

    a {
      color: black;
    }
  }

  .new {
    position: absolute;
    top: 5px;
    left: 350px;
  }
}