.Index {
  position: relative;
  padding: 10px;

  div.optionsRow {
    float: left;
    margin: 0 10px 0 0;

    input {
      height: 30px;
    }

    > div.Select {
      width: 150px;
    }
  }

  .SpinnerContainer {
    width: 100%;
    padding-top: 15%;
    text-align: center;
  }

  .item {
    margin: 5px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    position: relative;

    a {
      float: left;
      color: black;
      text-decoration: none;
      font-size: 0.9em;

      span {
        display: block;
      }

      span.artist {
        font-weight: bold;
        font-size: 0.85em;
      }

      span.title {
        margin-top: 5px;
      }

      span.info {
        font-size: 0.7em;
        margin-top: 5px;
      }
    }

    i.fa-code-fork,
    i.fa-star {
      float: right;
      margin-top: 38px;
      font-size: 0.85em;
    }

    i.fa-code-fork {
      margin-right: 3px;
    }

    i.fa-star {
      cursor: pointer;
      opacity: 0.2;

      &.favorite {
        opacity: 1;
      }
    }

    &.created,
    &.last_modified {
      a span.info {
        font-weight: bold;
      }
    }

    &.created {
      border-color: #2399e5;

      a {
        color: #2399e5;

        span.artist {
          margin-right: 25px;
        }
      }

      &:after {
        content: "NEW";
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 0.5em;
        font-weight: bold;
        color: red;
      }
    }

    &:hover {
      background-color: #2399e5;

      a {
        color: white;
      }
    }
  }

  .items {
    h4 {
      font-size: 0.8em;
    }
  }
}