.Player {
  position: relative;
  display: inline-block;
  text-align: left;
  z-index: 100; }
  .Player a {
    cursor: pointer; }
  .Player .controls a {
    font-family: 'Times';
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px; }
  .Player span.countdown {
    font-family: 'Times';
    font-size: 12em;
    font-weight: normal;
    color: red;
    text-shadow: 12px 12px 6px #c89696;
    position: fixed;
    top: 10px;
    right: 10px; }
    .Player span.countdown span.indicator {
      font-family: 'Roboto';
      font-size: 0.2em;
      display: block;
      text-align: right; }
      .Player span.countdown span.indicator.small {
        font-size: 0.15em; }
  .Player .options {
    position: absolute;
    left: 0;
    top: 26px;
    width: 300px;
    color: white;
    background-color: #666;
    padding: 0 10px 5px;
    border: 1px solid white;
    opacity: 0.97;
    font-size: 0.9em; }
    .Player .options > div {
      margin-top: 10px; }
      .Player .options > div > label {
        font-size: 0.85em;
        vertical-align: top; }
      .Player .options > div > span {
        font-size: 0.9em;
        font-weight: bold;
        padding-left: 10px; }
      .Player .options > div > a {
        font-size: 0.9em;
        padding-left: 10px; }
