.Score {
  padding: 5px 0; }
  .Score > div.optionsRow {
    float: left;
    margin: 10px; }
    .Score > div.optionsRow > div.Select {
      width: 350px; }
    .Score > div.optionsRow label {
      margin-left: 4px; }
    .Score > div.optionsRow > .IncDec {
      font-size: 1.0em;
      width: 30px;
      height: 30px;
      margin-right: 0;
      margin-top: 2px; }
    .Score > div.optionsRow > button.IncDec > span {
      padding: 0; }
    .Score > div.optionsRow > label.IncDec {
      display: inline-block;
      text-align: center;
      width: 20px; }
